@model catalogo_jogos.Models.EstatisticasViewModel
@{
    ViewData["Title"] = "Estatísticas";

    // LÊ OS FILTROS QUE A 'LISTAJOGOS' ENVIOU PELA URL
    var termoBusca = Context.Request.Query["termoBusca"];
    var sortOrder = Context.Request.Query["sortOrder"];
    var filtroAno = Context.Request.Query["filtroAno"];
    var filtroNaoZerados = Context.Request.Query["filtroNaoZerados"];
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1 class="text-center">Estatísticas</h1>
        <br />

        <div class="card mb-3">
            <div class="card-header">
                Último Jogo Zerado
            </div>
            <div class="card-body">
                <h4 class="card-title">@Model.LastGameFinished</h4>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                Jogo(s) Zerado(s) Mais Vezes
            </div>
            <div class="card-body">
                @foreach (var game in Model.MostFinishedGame)
                {
                    <h4 class="card-title">@game</h4>
                }
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                Jogo(s) Registrado(s) Mais Vezes (Zerado ou Não)
            </div>
            <div class="card-body">
                @foreach (var game in Model.MostPlayedGame)
                {
                    <h4 class="card-title">@game</h4>
                }
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                Quantidade De Jogos Zerados Até Hoje
            </div>
            <div class="card-body">
                <h4>@ViewBag.QuantidadeJogosZerados</h4>
            </div>
        </div>

        <div class="mt-4">
            <a asp-action="ListaJogos"
               asp-route-termoBusca="@termoBusca"
               asp-route-sortOrder="@sortOrder"
               asp-route-filtroAno="@filtroAno"
               asp-route-filtroNaoZerados="@filtroNaoZerados"
               class="btn btn-secondary">Voltar para a Lista</a>
        </div>
    </div>
</div>