@model catalogo_jogos.Models.Jogo
@{
    ViewData["Title"] = "Home";
    int currentYear = DateTime.Now.Year;
}

<div class="container mt-5" style="max-width: 500px;">
    <h3 class="mb-4 text-center">Catálogo de Jogos</h3>

    <form asp-action="SaveGame" method="post">

        <div class="mb-3 row">
            <label class="col-sm-5 col-form-label" asp-for="Name">Título:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" placeholder="Ex: Resident Evil" asp-for="Name" />
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-5 col-form-label" asp-for="Year">Ano Que Foi Jogado:</label>
            <div class="col-sm-7">
                <select asp-for="Year" id="selectYear" class="form-select">
                    @for (int year = currentYear + 1; year >= 2002; year--)
                    {
                        if (year == currentYear)
                        {
                            <option value="@year" selected>@year</option>
                        }
                        else
                        {
                            <option value="@year">@year</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="mb-4 row">
            <label class="col-sm-5 col-form-label" asp-for="Grade">Nota:</label>
            <div class="col-sm-7">
                <select class="form-select" asp-for="Grade">
                    <option selected disabled value="">Selecione uma nota</option>
                    <option value="Obra-Prima">Obra-Prima</option>
                    <option value="Excelente">Excelente</option>
                    <option value="Muito Bom">Muito Bom</option>
                    <option value="Bom">Bom</option>
                    <option value="Mediano">Mediano</option>
                    <option value="Ruim">Ruim</option>
                    <option value="Péssimo">Péssimo</option>
                    <option value="Lixo Podre">Lixo Podre</option>
                </select>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-5 col-form-label" asp-for="FinishedInThisYear">Zerado Nesse Ano?:</label>
            <div class="col-sm-7">
                <div class="form-check pt-2">
                    <input asp-for="FinishedInThisYear" type="checkbox" class="form-check-input" value="true" id="finishedCheckbox" />
                </div>
            </div>
        </div>
        <div class="mb-3 row" id="lastFinishedContainer" style="display: none;">
            <label class="col-sm-5 col-form-label" asp-for="IsLastFinished">Este foi o último que zerei?</label>
            <div class="col-sm-7">
                <div class="form-check pt-2">
                    <input asp-for="IsLastFinished" type="checkbox" class="form-check-input" value="true" id="lastFinishedCheckbox" />
                </div>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-5 col-form-label" asp-for="Platinado">Platinado?:</label>
            <div class="col-sm-7">
                <div class="form-check pt-2">
                    <input asp-for="Platinado" type="checkbox" class="form-check-input" value="true" />
                </div>
            </div>
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a asp-action="ListaJogos" class="btn btn-primary">Lista de Jogos</a>
        </div>

        @if (ViewBag.Mensagem != null)
        {
            <div class="alert alert-success mt-3">@ViewBag.Mensagem</div>
        }
    </form>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var yearSelect = document.getElementById('selectYear');
            var lastFinishedContainer = document.getElementById('lastFinishedContainer');
            var currentYear = @currentYear;
            var finishedCheck = document.getElementById('finishedCheckbox');
            var lastFinishedCheck = document.getElementById('lastFinishedCheckbox');

            function toggleLastFinishedCheckbox() {
                if (parseInt(yearSelect.value) === currentYear) {
                    lastFinishedContainer.style.display = 'flex';
                } else {
                    lastFinishedContainer.style.display = 'none';
                    lastFinishedContainer.querySelector('input').checked = false;
                }
            }
            toggleLastFinishedCheckbox();
            yearSelect.addEventListener('change', toggleLastFinishedCheckbox);

            lastFinishedCheck.addEventListener('change', function() {
                if (lastFinishedCheck.checked) {
                    finishedCheck.checked = true;
                }
            });

            finishedCheck.addEventListener('change', function() {
                if (!finishedCheck.checked) {
                    lastFinishedCheck.checked = false;
                }
            });
        });
    </script>
}