@model List<catalogo_jogos.Models.Jogo>

@{
    ViewData["Title"] = "Registros Salvos";
    var currentFilter = ViewData["CurrentFilter"] as string;
}



<div class="container mt-5">
    <h3 class="mb-4 text-center">@ViewData["Title"]</h3>

    <form method="get" asp-action="ListaJogos" class="mb-3 d-flex align-items-center">

        <label class="me-2">Buscar:</label>

        <input type="text"
               name="termoBusca"
               class="form-control me-2"
               style="width: 200px;"
               placeholder="Nome, ano ou nota..."
               value="@currentFilter" />

        <button type="submit" class="btn btn-primary me-2">Buscar</button>
        <a asp-controller="Jogos" asp-action="Estatisticas" class="btn btn-primary me-2">
            Ver Estatísticas
        </a>
        <a asp-action="ListaJogos" class="btn btn-outline-secondary">Resetar</a>
        
    </form>

    <hr />

    <div class="mb-3">
        <strong>Ordenar por:</strong>

        <a asp-action="ListaJogos"
           asp-route-sortOrder="name"
           asp-route-termoBusca="@currentFilter"
           class="btn btn-sm btn-light border">
            Ordem Alfabética (A-Z)
        </a>

        <a asp-action="ListaJogos"
           asp-route-sortOrder="year"
           asp-route-termoBusca="@currentFilter"
           class="btn btn-sm btn-light border">
            Ano (Crescente)
        </a>
    </div>

    @if (Model.Count == 0)
    {
        <div class="alert alert-warning text-center">Nenhum registro encontrado.</div>
    }
    else
    {
        @if (TempData["Mensagem"] != null)
        {
            <div class="alert alert-success text-center">
                @TempData["Mensagem"]
            </div>
        }
        <table class="table table-bordered table-striped">
            <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Ano Que Foi Finalizado</th>
                    <th>Finalizado Esse Ano?</th>
                    <th>Nota</th>
                    <th>Já Zerado Alguma Vez?</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var r in Model)
                {
                    <tr>
                        <td>@r.Id</td>
                        <td>@r.Name</td>
                        <td>@r.Year</td>
                        <td>@catalogo_jogos.Helper.MappingHelper.MappingBoolean(@r.FinishedInThisYear)</td>
                        <td>@r.Grade</td>

                        <td>@catalogo_jogos.Helper.MappingHelper.MappingBoolean(@r.EverCompleted)</td>

                        <td>
                            <a asp-action="TelaEdicao" asp-route-id="@r.Id" class="btn btn-warning btn-sm">Editar</a>
                            <form asp-action="ExcluirJogo" asp-route-id="@r.Id" method="post" style="display: inline;">
                                <button type="submit"
                                        class="btn btn-danger btn-sm"
                                        onclick="return confirm('Tem certeza que deseja excluir o jogo \'@r.Name\'?');">
                                    Excluir
                                </button>
                            </form>
                            <a asp-action="Detalhar" asp-route-id="@r.Id" class="btn btn-info btn-sm">Detalhes</a>

                            
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }

    <div class="text-center mt-3">
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </div>
</div>